<%- include('header') -%> 

<div class="container">

    <div class="about-text grid grid-cols-3">
        <div class="col-span-2 ">
            <h1>About Us</h1>
            <p>Is a student body that was established in 2007  mandated to harness full potential of members through involvement and engagement in activities that enhance  academic excellence and quality of life by organizing frequent fora, exchange programs and community sensitization aimed at equipping members with diverse knowledge in all aspects of life guided by the motto ”creativity is the crest of science”.   Currently, it has a membership of 100 students excluding alumni and the constitution allows co-opting interested parties.
            </p>
        </div>
        <div class="col-span-1">
            <img src="img/img1.jpg" alt="" class="img-70">
        </div>
    </div>


    <div class="about-text">
        <div class="">
            <h1>Mission Statement</h1>
            <p>To harness the full potential of the members through involvement and engagement in activities that will enhance academic excellence and quality social life by organizing frequent seminars, Academic forums , field trips, exchange programs and community sensitization programs aimed at equipping members with diverse knowledge in all aspects of life.
            </p>
        </div>
        <div class=" ">
            <h1>Vision</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quo accusamus architecto in sit blanditiis, ut voluptate provident laudantium, dolore nobis, cupiditate iste quidem minus officia obcaecati! Labore, dolorum minus? 
            </p>
        </div>

        <div class=" ">
            <h1>Motto</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem voluptates, culpa a corporis eveniet odit ullam architecto, deleniti sit assumenda molestias labore? Sequi accusantium ea nam aut voluptatem sint illum.
            </p>
        </div>
    </div>

    <h1 class="text-center">The Team</h1>
    <div class="leaders mt-10 grid grid-cols-3 grid-rows-4">
        <div class="col-span-1 row-span-1 px-8 py-4">
            <img src="img/cropped.png" alt="">
            <h1 class="text-center">Position</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium error ratione temporibus consectetur, vel eos molestiae! A quos, fugit ipsum voluptas ex iure, libero debitis, iusto alias optio labore sit!</p>
        </div>
        <div class="col-span-1 row-span-1 px-8 py-4">
            <img src="img/cropped.png" alt="">
            <h1 class="text-center">Position</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium error ratione temporibus consectetur, vel eos molestiae! A quos, fugit ipsum voluptas ex iure, libero debitis, iusto alias optio labore sit!</p>
        </div>
        <div class="col-span-1 row-span-1 px-8 py-4">
            <img src="img/cropped.png" alt="">
            <h1 class="text-center">Position</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium error ratione temporibus consectetur, vel eos molestiae! A quos, fugit ipsum voluptas ex iure, libero debitis, iusto alias optio labore sit!</p>
        </div>
        <div class="col-span-1 row-span-1 px-8 py-4">
            <img src="img/cropped.png" alt="">
            <h1 class="text-center">Position</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium error ratione temporibus consectetur, vel eos molestiae! A quos, fugit ipsum voluptas ex iure, libero debitis, iusto alias optio labore sit!</p>
        </div>
        <div class="col-span-1 row-span-1 px-8 py-4">
            <img src="img/cropped.png" alt="">
            <h1 class="text-center">Position</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium error ratione temporibus consectetur, vel eos molestiae! A quos, fugit ipsum voluptas ex iure, libero debitis, iusto alias optio labore sit!</p>
        </div>
        <div class="col-span-1 row-span-1 px-8 py-4">
            <img src="img/cropped.png" alt="">
            <h1 class="text-center">Position</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium error ratione temporibus consectetur, vel eos molestiae! A quos, fugit ipsum voluptas ex iure, libero debitis, iusto alias optio labore sit!</p>
        </div>
        <div class="col-span-1 row-span-1 px-8 py-4">
            <img src="img/cropped.png" alt="">
            <h1 class="text-center">Position</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium error ratione temporibus consectetur, vel eos molestiae! A quos, fugit ipsum voluptas ex iure, libero debitis, iusto alias optio labore sit!</p>
        </div>
        <div class="col-span-1 row-span-1 px-8 py-4">
            <img src="img/cropped.png" alt="">
            <h1 class="text-center">Position</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium error ratione temporibus consectetur, vel eos molestiae! A quos, fugit ipsum voluptas ex iure, libero debitis, iusto alias optio labore sit!</p>
        </div>
        <div class="col-span-1 row-span-1 px-8 py-4">
            <img src="img/cropped.png" alt="">
            <h1 class="text-center">Position</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium error ratione temporibus consectetur, vel eos molestiae! A quos, fugit ipsum voluptas ex iure, libero debitis, iusto alias optio labore sit!</p>
        </div>
        <div class="col-span-1 row-span-1 px-8 py-4">
            <img src="img/cropped.png" alt="">
            <h1 class="text-center">Position</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium error ratione temporibus consectetur, vel eos molestiae! A quos, fugit ipsum voluptas ex iure, libero debitis, iusto alias optio labore sit!</p>
        </div>
        <div class="col-span-1 row-span-1 px-8 py-4">
            <img src="img/cropped.png" alt="">
            <h1 class="text-center">Position</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium error ratione temporibus consectetur, vel eos molestiae! A quos, fugit ipsum voluptas ex iure, libero debitis, iusto alias optio labore sit!</p>
        </div>

    </div>
</div>


<%- include('footer') -%> 
