<%- include('header') -%> 

<div class="container">

    <div class="about-text md:grid grid-cols-3">
        <div class="col-span-2 ">
            <h1 class="text-center md:text-left">About Us</h1>
            <img src="img/Picture1.jpg" alt="" class="img-70 block md:hidden">
            <p>Unicsa is a student body that was established in 2007  mandated to harness full potential of members through involvement and engagement in activities that enhance  academic excellence and quality of life by organizing frequent fora, exchange programs and community sensitization aimed at equipping members with diverse knowledge in all aspects of life guided by the motto ”creativity is the crest of science”.   Currently, it has a membership of 100 students excluding alumni and the constitution allows co-opting interested parties.
            </p>
            <div class=" ">
                <h1>Motto</h1>
                <p>“Creativity is the crest of science”
                </p>
            </div>
        </div>

        <div class="col-span-1">
            <img src="img/picture1.JPG" alt="" class="img-70 hidden md:block">
        </div>
    </div>

    
    <div class="about-text md:grid grid-cols-2 gap-2">
        <div class="col-span-1 md:p-4 pl-0">
            <h1>Mission Statement</h1>
            <p>To harness the full potential of the members through involvement and engagement in activities that will enhance academic excellence and quality social life by organizing frequent seminars, Academic forums , field trips, exchange programs and community sensitization programs aimed at equipping members with diverse knowledge in all aspects of life.
            </p>
        </div>
        <div class="col-span-1 md:p-4 pr-0">
            <h1>Vision</h1>
            <p>To be an internationally recognized student body with an enabling environment conducive for
                assured excellence in academics, socio-economic and leadership aspects with a view to enhancing
                competence in service delivery that meets the changing demands in our contemporary society.
            </p>
        </div>

    </div>
    <hr>

    <h1 class="text-center">The Team</h1>

    <div class="leaders mt-10 md:grid grid-cols-3">
        <div class="col-span-1 px-8 py-4"></div>

        <div class="col-span-1 px-8 py-4">
            <img src="img/patron.png" alt="">
            <h1 class="text-center">Dr. Farida Hussein Were</h1>
            <p class="text-center text-xl">Patron</p>
        </div>

        <div class="col-span-1 px-8 py-4"></div>
    </div>


    <div class="leaders mt-10 md:grid grid-cols-3 grid-rows-4">
        <div class="col-span-1 row-span-1 px-8 py-4">
            <img src="img/cycy.png" alt="">
            <h1 class="text-center">Cynthia Wanyeki</h1>
            <p class="text-center text-xl">General Editor</p>
        </div>

        <div class="col-span-1 row-span-1 px-8 py-4">
            <img src="img/swalhe.png" alt="">
            <h1 class="text-center">Swalhe Farid</h1>
            <p class="text-center text-xl">Chairperson</p>
        </div>

        <div class="col-span-1 row-span-1 px-8 py-4">
            <img src="img/clinton.png" alt="">
            <h1 class="text-center">Clinton Gogo</h1>
            <p class ="text-center text-xl">Vice Chairperson</p>
        </div>

        <div class="col-span-1 row-span-1 px-8 py-4">
            <img src="img/consolata.png" alt="">
            <h1 class="text-center">Consolata Kimario</h1>
            <p class="text-center text-xl">Secretary General</p>
        </div>

        <div class="col-span-1 row-span-1 px-8 py-4">
            <img src="img/isaac.png" alt="">
            <h1 class="text-center">Isaac Nduvi</h1>
            <p class="text-center text-xl">Vice Secretary General</p>
        </div>

        <div class="col-span-1 row-span-1 px-8 py-4">
            <img src="img/john.png" alt="">
            <h1 class="text-center">John Ng'ang'a</h1>
            <p class="text-center text-xl">Organizing Secretary</p>
        </div>

        <div class="col-span-1 row-span-1 px-8 py-4">
            <img src="img/vivian.png" alt="">
            <h1 class="text-center">Vivian Wairimu</h1>
            <p class="text-center text-xl">Project Co-ordinator</p>
        </div>

        <div class="col-span-1 row-span-1 px-8 py-4">
            <img src="img/nancy.png" alt="">
            <h1 class="text-center">Nancy Njeri</h1>
            <p class="text-center text-xl">Treasurer</p>
        </div>

        <div class="col-span-1 row-span-1 px-8 py-4">
            <img src="img/anon.png" alt="">
            <h1 class="text-center">Karen Kerubo</h1>
            <p class="text-center text-xl">3rd Year Rep</p>
        </div>

        <div class="col-span-1 row-span-1 px-8 py-4">
            <img src="img/eric.png" alt="">
            <h1 class="text-center">Eric Odhiambo</h1>
            <p class="text-center text-xl">2nd Year Rep</p>
        </div>

        <div class="col-span-1 row-span-1 px-8 py-4">
            <img src="img/precious.png" alt="">
            <h1 class="text-center">Precious</h1>
            <p class="text-center text-xl">1st Year Rep</p>
        </div>

    </div>
</div>

<script>
    document.querySelector('.active').classList.remove("active");
    document.querySelector('a[href="/about"]').classList.add('active');
</script>

<%- include('footer') -%> 

