<%- include('header') -%> 

<div class="container">
    <h1>
        ADVOCACY
    </h1>
    <p>
        To harness the full potentials of the members through involvement in activities that will enhance academic excellence and professional practice through;
    </p>
    <ul>
        <li>Organizing frequent seminars.</li>
        <li>Organizing internship and attachment placements.</li>
        <li>Exchange programmes &amp; field trips.</li>
    </ul>
</div>

<%- include('footer') -%> 