<%- include('header') -%> 

<% data.forEach(function(item){ %> 

<div class="container">
    <h1>
        <%= item.title %>  
    </h1>
    <p>
        <%= item.body %> 
    </p>
</div>

<% }) %> 

<script>
    document.querySelector('.active').classList.remove("active");
    document.querySelector('a[href="/blog"]').classList.add('active');
</script>
<%- include('footer') -%> 
