<%- include('header') -%> 
<div class="container">
    <h1>
        <%= blogTitle %> 
    </h1>
    <p>
        <%= blogPost %> 
    </p>
</div>

<script>
    document.querySelector('.active').classList.remove("active");
    document.querySelector('a[href="/blog"]').classList.add('active');
</script>
<%- include('footer') -%> 
