<%- include('header') -%> 

<div class="container">
    <div class="blog-post">
        <h1>Blog Title 1</h1>
        <p class="blog-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, minus doloribus quas vel tempora facere alias, dignissimos nemo impedit necessitatibus ab suscipit magni voluptatibus. Quae neque aliquam aspernatur enim nisi?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt doloribus cumque assumenda qui quisquam rerum velit laboriosam magni maxime, ut suscipit porro itaque vero. Molestias voluptas neque fugiat atque vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae culpa, mollitia amet architecto illum consequatur deleniti similique accusantium, accusamus et praesentium reprehenderit sit perspiciatis saepe! Natus iure culpa accusamus saepe?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae obcaecati officia ut est pariatur doloremque, quasi dolorum illum deserunt tempore. Earum sequi quos adipisci tempora nostrum veritatis voluptates consequatur fuga! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias eos maxime veniam non est ex earum, culpa illum quae? Inventore, tempora nobis ut repudiandae totam natus debitis nostrum quia commodi?
        </p>
        <hr>
    </div>
    <div class="blog-post">
        <h1>Blog Title 2</h1>
        <p class="blog-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, minus doloribus quas vel tempora facere alias, dignissimos nemo impedit necessitatibus ab suscipit magni voluptatibus. Quae neque aliquam aspernatur enim nisi?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt doloribus cumque assumenda qui quisquam rerum velit laboriosam magni maxime, ut suscipit porro itaque vero. Molestias voluptas neque fugiat atque vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae culpa, mollitia amet architecto illum consequatur deleniti similique accusantium, accusamus et praesentium reprehenderit sit perspiciatis saepe! Natus iure culpa accusamus saepe?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae obcaecati officia ut est pariatur doloremque, quasi dolorum illum deserunt tempore. Earum sequi quos adipisci tempora nostrum veritatis voluptates consequatur fuga! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias eos maxime veniam non est ex earum, culpa illum quae? Inventore, tempora nobis ut repudiandae totam natus debitis nostrum quia commodi?
        </p>
        <hr>
    </div>

    <div class="blog-post">
        <h1>Blog Title 3</h1>
        <p class="blog-paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, minus doloribus quas vel tempora facere alias, dignissimos nemo impedit necessitatibus ab suscipit magni voluptatibus. Quae neque aliquam aspernatur enim nisi?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt doloribus cumque assumenda qui quisquam rerum velit laboriosam magni maxime, ut suscipit porro itaque vero. Molestias voluptas neque fugiat atque vel. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae culpa, mollitia amet architecto illum consequatur deleniti similique accusantium, accusamus et praesentium reprehenderit sit perspiciatis saepe! Natus iure culpa accusamus saepe?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae obcaecati officia ut est pariatur doloremque, quasi dolorum illum deserunt tempore. Earum sequi quos adipisci tempora nostrum veritatis voluptates consequatur fuga! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias eos maxime veniam non est ex earum, culpa illum quae? Inventore, tempora nobis ut repudiandae totam natus debitis nostrum quia commodi?
        </p>
        <hr>
    </div>
</div>

<script>
    document.querySelector('.active').classList.remove("active");
    document.querySelector('a[href="/blog"]').classList.add('active');
</script>

<%- include('footer') -%> 
