<%- include('header') -%> 

<div class="min-w-full max-w-xs">
    <form class="rounded px-8 pt-6 pb-8 mb-4" action="/compose" method="post">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
          Title
        </label>
        <input class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:-outline" type="text" placeholder="Title" name="title">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="body">
          Body
        </label>
        <textarea name="body" class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:-outline" rows="10"></textarea>
      </div>
      <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:-outline" type="submit">
          Post
        </button>
      </div>
    </form>
  </div>

<%- include('footer') -%> 