<footer class="footer grid grid-cols-2">
    <div class="footer-text col-span-1">
        <p>Copyright University of Nairobi</p>
        <p>Created by Mgic</p>
    </div>
    <div class="socials col-span-1">
        <a href="https://facebook.com/"><img src="static/img/fb_color.png"/></a>
        <a href="https://instagram.com"><img src="static/img/ig_color.png"/></a>
        <a href="https://linkedin.com"><img src="static/img/linkedin_color.png"/></a>
        <a href="https://twitter.com"><img src="static/img/twitter_color.png"/></a>
    </div>
</footer>

</body>
</html>