<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/tailwind.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">


    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=David+Libre&family=Inter&display=swap" rel="stylesheet">
    <!-- Fonts -->

    <title>UNICSA</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar__menu">
            <!-- <a href="#" class="navbar__img"><img src="img/logo.png" alt="Logo"></a> -->
            <a href="/" class="navbar__item active" >Home</a>
            <a href="/about" class="navbar__item">About</a>
            <a href="/blog" class="navbar__item">Blog</a>
            <a href="/contact" class="navbar__item">Contact</a>
        </div>
        <div class="navbar__toggle">
            <i class="ri-menu-line"></i>
        </div>
    </nav>