<%- include('header') -%> 

<div class="container">
    <div class="image__container"></div>
    

    <div class="md:grid overflow-hidden grid-cols-4 grid-rows-1 mx-3 gap-2">
        <div class="box">
            <img src="img/img2.jpg" alt="">
            <h2>ABOUT US</h2>
            <p>Is a student body that was established in 2007  mandated to harness full potential of members through involvement and engagement in activities that enhance  academic excellence and quality of life by organizing frequent fora, exchange programs and community</p></div>
        <div class="box">
            <img src="img/img3.jpg" alt="" >
            <h2>MEMBERSHIP</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo id veniam corrupti beatae recusandae fugiat, nemo fuga voluptates quas asperiores quod obcaecati nesciunt. At a delectus officia cumque, error dolore!</p></div>
        <div class="box">
            <img src="img/img4.jpg" alt="">
            <h2>ADVOCACY</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eligendi ullam autem provident. Harum, placeat doloremque. Veritatis, ducimus molestias nostrum sit omnis quisquam quia deserunt, non modi, numquam nulla fugit?</p></div>
        <div class="box">
            <img src="img/img1.jpg" alt="">
            <h2>CSR</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla autem laudantium eveniet expedita magni, error blanditiis culpa nostrum, rerum sint tempore qui sed vero consequatur porro corrupti facilis fugit quos?</p></div>
    </div>

    <hr class="md:invisible">

    <h2 class="visible md:invisible">First Blog</h2>
    <div class="md:grid overflow-hidden grid-cols-3 grid-rows-1 mx-3">
        <img src="img/img5.jpg" alt="" class="col-span-2 img-70 block md:hidden">
        <div class="p1 col-span-1">
            <h2 class="invisible md:visible">First Blog</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias et assumenda enim veritatis earum, dolor ipsa autem voluptatibus quod similique beatae omnis aliquam excepturi accusamus fugiat velit ducimus. Assumenda, ipsum! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi aliquid tempore aliquam provident quos esse, adipisci repellat dignissimos alias sint maiores deleniti sit ratione ipsa! Dolores qui fugiat quisquam possimus.</p>
        </div>
        <img src="img/img5.jpg" alt="" class="col-span-2 img-70 hidden md:block">
    </div>

    <h1 class="text-center px-3">Our Partners</h1>
    <div class="partners grid grid-cols-4 gap-4">
        <div class="col-span-1">
            <img src="img/img3.jpg" alt="" >
            <p class="text-center">American Scoiety of Sociopaths</p>
        </div>
        <div class="col-span-1">
            <img src="img/img2.jpg" alt="" >
            <p class="text-center">Chemists of the World</p>
        </div>
        <div class="col-span-1">
            <img src="img/img4.jpg" alt="" >
            <p class="text-center">Color for All</p>
        </div>
        <div class="col-span-1">
            <img src="img/img1.jpg" alt="" >
            <p class="text-center">Lorem Ipsum Dolor Sit</p>
        </div>
    </div>
</div>

<script>
    document.querySelector('.active').classList.remove("active");
    document.querySelector('a[href="/"]').classList.add('active');
</script>

<%- include('footer') -%> 