<%- include('header') -%> 

<div class="container">
    <h1>
        Membership Benefits
    </h1>

    <p>
        <ul>
            <li>Privilege to attend industrial visits regularly, Chapter, branch or group activities.</li>
            <li>Only registered members are eligible to participate in the association’s activities, chapter, branch or group activities. </li>
            <li>Enhancement of leadership skills.</li>
            <li>Internship and attachment opportunities.</li>
            <li>Exchange programmes with other universities.</li>
            <li>Certificate of recognition after every industrial visit and capacity building programme.</li>
            <li>Practical skills in industrial exposure.</li>
            <li>Partnership with multinational companies.</li>
            <li>Merchandaise such as  T-Shirts and caps.</li>
            <li>Potential for support of future research projects.</li>
            <li>Worldwide recognition from UN and WHO.</li>
            <li>Experience in quality control and quality assurance.</li>
            <li>Frequent clean up activities, planting trees and other activities to help solve the adverse effects of climate change.</li>
        </ul>
        <br>
        <p>
            All members shall have right to participate in any activities of the Association by attending or subscribing to:
            <ul>
                <li>Industrial visits.</li>
                <li>Capacity building activities.</li>
                <li>Awareness Campaigns.</li>
                <li>Full member registration.</li>
                <li>Sustainability projects.</li>
                <li>Journals and publications</li>
            </ul>
        </p>
    </p>
</div>

<%- include('footer') -%> 
